[submodule "StratisFullNode"]
	path = StratisFullNode
	url = https://github.com/stratisproject/StratisFullNode.git
	branch = feature/1.5.0.0-interflux
[submodule "StratisMasternodeDashboard"]
	path = StratisMasternodeDashboard
	url = https://github.com/stratisproject/StratisMasternodeDashboard
