[submodule "StratisFullNode"]
	path = StratisFullNode
	url = https://github.com/stratisproject/StratisFullNode.git
	branch = release/1.4.0.7
[submodule "StratisMasternodeDashboard"]
	path = StratisMasternodeDashboard
	url = https://github.com/stratisproject/StratisMasternodeDashboard
